[Unit]
Description=x-ui Service
After=network.target
Wants=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/usr/local/x-ui/
ExecStartPre=/usr/local/x-ui/x-ui-update-guard pre
ExecStart=/usr/local/x-ui/x-ui
ExecStartPost=/usr/local/x-ui/x-ui-update-guard post $MAINPID
Restart=always
RestartSec=2s
UMask=0077

[Install]
WantedBy=multi-user.target
